{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.4"}
  org.clojars.pgdad/clj-ebpf {:mvn/version "0.7.8"}
  org.clojure/core.async {:mvn/version "1.8.741"}
  org.clojure/data.json {:mvn/version "2.5.1"}
  org.clojure/tools.cli {:mvn/version "1.2.245"}
  org.clojure/tools.logging {:mvn/version "1.3.0"}
  ch.qos.logback/logback-classic {:mvn/version "1.5.23"}}

 :aliases
 {:dev
  {:extra-paths ["test" "examples"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                       :git/sha "dfb30dd"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                       :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  ;; CI-safe tests (excludes tests requiring root/BPF privileges and tests
  ;; affected by clj-ebpf memory corruption bug)
  :test-ci
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                       :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner" "-e" ":integration" "-e" ":skip-clj-ebpf-bug"]
   :exec-fn cognitect.test-runner.api/test
   :exec-args {:excludes [:integration :skip-clj-ebpf-bug]}}

  :run
  {:main-opts ["-m" "lb.core"]}

  :uberjar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
   :exec-fn hf.depstar/uberjar
   :exec-args {:jar "target/clj-ebpf-lb.jar"
               :aot true
               :main-class lb.core}}

  ;; Build jar for Clojars deployment
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.7"}
          slipset/deps-deploy {:mvn/version "0.2.2"}}
   :ns-default build}}}
